body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: 150px;

}
.center1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  padding: 20px;
  margin: 82px;
  margin-top: -80px;
}
.container1{
  margin-top: -50px;
}
.unseen1{
  height: 450px;
  width: 450px;
}
.unseenContent{
  margin-top: 90px;
}
.learn{
  background-color:#4CAF4F ;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  margin-left: 30px;
}
.member{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -40px;
}

  .member1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 190px;
  }
.Howto{
  height: 400px;
  width: 400px;
}
.tesla{
  height: 350px;
  width: 350px;
}
.ticon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 500px;
  margin: 60px;
  
}
.teslaicon{
  margin: 20px;
  margin-top: 40px;
}
.market{
  height: 400px;
  width: 400px;
  margin-left: 60px;
}
.card{
  height: 150px;
  width: 270px;
  margin-left: 120px;
  margin-top: -70px;

}
.logo1{
  margin-top: 50px;
  margin-left: -40px;
}
.flogo{
  display: flex;
  
  align-items: center;
}
.copy{
  margin-left: -30px;
  margin-top: 20px;
}
.nav{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}
.nav1{
  list-style: none;
  margin: 20px;
}
.logos{
  height: 40px;
  margin-top: 30px;
}